.about-container{
    width: 100%;
    background-color: var(--color-white);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-heading{
    font-size: 55px;
    font-weight: 700;
    line-height: 64.45px;
    text-align: left;
    color: var(--color-purple);
}
.accout-details{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.input-field-data{
    width: 345px;
    height: 45px;
    border-radius: 5px;
    outline: none;
}
.field-name{
        font-size: 30px;
        font-weight: 700;
        line-height: 35.16px;
        text-align: left;

}
.btns-container{
    display: flex;
    gap: 15px;
}
.logout-btn{
    border: 1px solid rgb(239, 46, 46);
    color: rgb(239, 46, 46);
    border-radius: 5px;
}