.uploads-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    background-color: var(--color-white);
    padding-left: 25px;
}
.uploads-heading{
    font-size: 55px;
    font-weight: 700;
    line-height: 64.45px;
    text-align: left;
    color: var(--color-purple);
}
.upload-card{
    width: 318px;
    height: 98px;
    border: 1px solid var(--color-gray);
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 1.99px 3.25px 5.51px 1px var(--color-gray);

}
.upload-types{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.upload-details{
    font-size: 26.64px;
    font-weight: 700;
    line-height: 33.06px;
    letter-spacing: 0.1903058886528015px;
    text-align: left;
}
.uploads-list{
    border: 1px solid var(--color-gray);
    max-width: 985px;
    border-radius: 22px;
}
.uploads-list-headings{
    display: flex;
    height: 68px;
    max-width: 985px;
}
.item-container{
    max-width: 245px;
    width: 100%;
    font-size: 26.64px;
    font-weight: 700;
    line-height: 33.06px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.name-container{
    justify-content: start;
    padding-left: 68px;
}

@media screen and (max-width: 885px) {
    .item-container{
        font-size: 18px;
        line-height: 21px;
    }
    .name-container{
        padding-left: 15px;
    }
}